@import components.{test}

@(aResult: Seq[QuizResults])
<!--// Keep track of question number the user is on-->
<!--// Display the question and answers of number-->
<!--// Collate and muddle up the list of answers (correct and incorrect currently seperate)-->
<!--// Keep a note of which is the correct answer-->
<!--// Allow the answers to be clickable-->
<!--// Visually show the user if they are correct or incorrect in their selection-->
<!--// Keep a note of the score of the user-->
@main("Questions"){

@for(index <- 0 until aResult.size){
@test(aResult(index), index)
}}
